.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1.5rem; 
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.logoutButton {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #434039;
  color: white;
}

.iconLink {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.icon {
  font-size: 1.5rem; 
}

.largeIcon {
  font-size: 2rem; 
}
