.recipes {
  margin: 2rem auto;
  max-width: 80%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  text-decoration: none;
  color: inherit;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 0.67rem);
  margin-bottom: 1rem;
}

.item:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  margin-bottom: 1rem; 
}

.searchInput {
  flex: 1; 
  padding: 0.5rem;
  border: 1px solid var(--color-gray-600);
  border-radius: 4px;
}

.searchIcon {
  cursor: pointer;
}

.creatorContainer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.creatorImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.creatorName {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.recipeImage {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeTitle {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 10px;

}

.categoryName {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.recipeDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likesContainer,
.ratingContainer {
  display: flex;
  align-items: center;
}

.likeIcon{
  margin-left: 10px;
}
.rateIcon{
  margin-right: 10px;

}

.ratingText {
  font-size: 16px;
  margin-right: 10px;
}

.likesText{
  font-size: 16px;
  margin-left: 10px;
}

.createdAt {
  font-size: 12px;
  color: gray;
  margin-top: 7px;
  margin-left: 10px;

}

.title {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center
}



.sortIconContainer {
  margin-left: 15px; 
  align-items: center;
  text-align: center;

}


.creatorLink {
  text-decoration: none;
  color: inherit;
}

.recipeLink {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.noRecipes {
  text-align: center;
  height: 100%;
  font-size: 24px;
  color: #c2bebe;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
.sortingButtons {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #434039;
  color: white;
}