.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 150px;
  }
  
  .searchInput {
    padding: 0.3rem;
    border: 1px solid var(--color-gray-600);
    border-radius: 6px;
    width: 200px;
  }
  
  .searchIcon {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .searchLink {
    text-decoration: none;
    color: inherit;
  }
  